.botiga-offcanvas-menu .botiga-dropdown ul li {
    text-align: left;
}
.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-47 .dropdown-symbol{
    //transform: rotate(-90deg);
    display: inline-block;
    pointer-events: none;
    position: absolute;
    top: 8px;
    right: 0;
}
.botiga-offcanvas-menu .botiga-dropdown .sub-menu{
    padding: 0 0 10px 30px;
    font-size: 14px;
}
.botiga-offcanvas-menu.toggled.sub{
    .menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-47 .dropdown-symbol{
        transform: rotate(180deg);
    }
}
.botiga-offcanvas-menu .botiga-dropdown .menu-item-has-children a {
    width: 100%;
}
















