

@media only screen and (max-width: 1200px) {
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .footer__container{
        padding: 60px 20px;
    }
    .filling__pic {
        max-width: 400px;
        margin-right: 60px;
    }
}
@media only screen and (max-width: 1000px) {
    .filling__pic {
        max-width: 300px;
        margin-right: 50px;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    .footer__copy{
        text-align: center;
        margin-top: 40px;
    }
    .soc{
        justify-content: center;
    }
    .footer__nav-col{
        padding-right: 0;
        width: 50%;
    }
}

@media only screen and (max-width: 780px) {
    .filling{
        display: block;
    }
    .filling__pic {
        max-width: 400px;
        margin: 0 auto 50px;
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .filling__pic {
        max-width: 100%;
    }
    .back {
        font-size: 14px;
        line-height: 16px;
    }
    h2 {
        font-size: 18px;
        line-height: 16px;
        margin: 20px 0 20px;
    }
    body {
        font-size: 14px;
        line-height: 16px;
    }
    .rate svg {
        width: 30px;
        height: 30px;
    }
    .rate li {
        margin-right: 18px;
    }
}
@media only screen and (max-width: 480px) {

}
